body {
  background: #fffdfa;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.556);
  padding: 10px 20px;
  font-family: "Buda", serif;
  letter-spacing: 7px;
}

.navbar .brand-title {
  color: white;
  font-size: 24px;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar-links ul li {
  margin-left: 20px;
}

.navbar-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links ul li a:hover {
  color: #f0cbc0; /* Example hover color */
}

/* Mobile responsiveness */
.toggle-button {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

h1 {
  font-family: "Buda", serif;
  font-weight: 300;
  letter-spacing: 7px;
  font-style: normal;
  font-weight: light;
  font-size: 40px;
}
button {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  padding: 10px;
  border-radius: 3px;
  margin: 10px;
  border-style: none;
}
button:hover {
  transform: scale(1.1);
  transition: ease-in-out;
  background: #f0cbc0;
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-inner {
  display: flex;
  width: 300%; /* 3 images in total */
  animation: slide 10s linear infinite;
  height: 100%;
}
.hero-item {
  position: relative;
  width: 100%;
  height: 100vh;
  flex: 1;
}

.hero-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark filter */
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2; /* Above the overlay and images */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  } /* Show the first image */
  33.33% {
    transform: translateX(0);
  } /* Stay on the first image */
  40% {
    transform: translateX(-33.33%);
  } /* Transition to the second image */
  73.33% {
    transform: translateX(-33.33%);
  } /* Stay on the second image */
  80% {
    transform: translateX(-66.66%);
  } /* Transition to the third image */
  100% {
    transform: translateX(-66.66%);
  } /* Stay on the third image */
  0% {
    transform: translateX(0);
  }
}

.courses {
  padding: 20px;
}
.card {
  margin: 30px;
}
.card-body {
  padding: 30px;
  text-align: center;
  letter-spacing: 3px;
}

.card-header {
  width: 100%;
  height: 500px;
  position: relative;
}
.card-header img,
.card-header video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.img-responsive {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  color: #f0cbc0;
  display: block;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  text-decoration: none;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.bio {
  background: rgba(240, 203, 192, 0);
  padding: 30px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
  p {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar-links ul li {
    margin: 10px 0;
  }

  .toggle-button {
    display: block;
  }

  .navbar-links.active {
    display: flex;
  }
}
